@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    text-decoration: none; /* para remover o sublinhado padrão */
    overflow-x: hidden;
}

/*
body {
    background: rgb(201, 196, 196);
}
*/

body {
    background: #e90736;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #1f1e1f 93%, 
    transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    /*o que fica abaixo da barra*/
    background: #000;
}

html::-webkit-scrollbar-thumb {
    /*cor da barra*/
    background: red;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, red 93%, 
    transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    transform: scale(1.1); /*Animação no botão*/
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: red;
}



  














  





