@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

  

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}
/*
body {
    background: linear-gradient(to bottom, #f2f2f2d7, #d9d9d9b2);
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(220, 220, 220, 0.664), rgba(220, 220, 220, 0.014));
}
*/

/*
.header .about{
    background: linear-gradient(to bottom, rgb(255, 200, 200), rgb(220, 220, 220));
    width: 100%;
    height: 100vh;
}
*/

body {
    background: rgb(201, 196, 196);
    width: 100%;
    height: 150vh; 
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    /*o que fica abaixo da barra*/
    background: #000;
}

html::-webkit-scrollbar-thumb {
    /*cor da barra*/
    background: red;
}

/*formatação dos parâmetros da página*/
section {
    padding: 10rem 9%;
}

/*Titulos de cada seção*/

.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}
/*efeito dos titulos das seções*/
.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    color: red;
    background: #000;
    padding: .5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: .5rem;
}
/*Botoes*/

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, red 93%, 
    transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    transform: scale(1.1); /*Animação no botão*/
}

/*Cabeçalho*/

.links-menu {
    display: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 20%;
    width: 100vw;
    height: 70px;
    background-color: #1f1e1f;
    position: fixed;
    padding-left: 30rem;
    margin: 0;
}

.ancora-menu {
    color: white;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    margin-right: 20rem;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 2rem;
}

.logo {
    margin: 0 0 0 10%;
}

a {
    text-decoration: none;
    color: black;
}

.responsivo {
    display: none;
}


/*Home*/

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 3rem;
    color: red;
    display: block;
}
.home .slide .content h3 {
    font-size: 5rem;
    color: black;
    padding: 1rem 0;
}


.home {
    padding: 0;
    margin-top: 7rem;
}
.home .slide {
    min-height: 90vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 2rem;
    color: red;
    display: block;
}
.home .slide .content h3 {
    font-size: 5rem;
    color: #fff;
    padding: 1rem 0;
}
/*class de swipwer para criar as bolinhas*/
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 0;  
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: red;
}


/*sobre nós*/

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.about .image {
    flex: 1 1 42rem;
    position: relative;
}
.about .image::before,
.about .image::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: #1f1e1f;
    height: 15rem;
    width: 15rem;
}
.about .image::before {
    top: 0;
    left: 0;
}

.about .image::after {
    bottom: 0;
    right: 0;
}
.about .image img {
    width: 100%;
    padding: 2rem;
}

.about .content {
    flex: 1 1 42rem;
}
.about .content span {
    font-size: 2rem;
    color: red;
}

.about .content .title {
    font-size: 4rem;
    color: black;
    margin-top: .5rem;
}
.about .content p {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 2;
}

.about .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}
.about .content .box-container .box {
    flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
    font-size: 2rem;
    color: black;
}

.about .content .box-container .box h3 i {
    padding-right: 1.5rem;
    color: red;
}



/*Fim do about */
/*Banner*/

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(img/industrial2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.banner span {
    font-size: 2rem;
    color: red;
}

.banner h3 {
    padding-top: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.banner p {
    margin: 1rem auto;
    max-width: 60rem;
    font-size: 1.5rem;
    color: #aaa;
    line-height: 2;
}

/*Fim do Banner*/

/*Produtos*/

.blogs {
    background: black;
}

.blogs .slide:hover .image img {
    transform: scale(1.1);
}

.blogs .slide .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}
.blogs .slide .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .slide .content {
    padding: 2rem;
}

.blogs .slide .content .link {
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
}

.blogs .slide .content .link a {
    color: red;
}

.blogs .slide .content .link a:hover {
    color: #fff;
}

.blogs .slide .content .link span {
    color: #fff;
    padding: 0 1rem;
}

.blogs .slide .content h3 {
    font-size: 2rem;
    color: #fff;
    line-height: 1.5;
}

.blogs .slide .content p {
    font-size: 1.5rem;
    color: #aaa;
    line-height: 2;
    padding: 1rem 0;
}
/*Teste*/
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Ajuste a distância do ícone em relação ao fundo da página conforme necessário */
    right: 20px; /* Ajuste a distância do ícone em relação à borda direita da página conforme necessário */
}

.fab.fa-whatsapp {
    font-size: 40px; /* Ajuste o tamanho do ícone conforme necessário */
}

/*Stand benefícios*/

.beneficios-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beneficios-menu h2{
    color: #e90736;
    font-size: 3rem;
}

.beneficios-menu h3 {
    color: #000;
    font-size: 3rem;
    font-weight: 600;
}

.beneficios-menu p {
    color: #000;
    font-size: 1.5rem;
    margin: 1rem 0 5rem 0;
}

.beneficios-stands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.beneficios-containers {
    width: 34rem;
    height: 55rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.beneficios-imagem {
    width: 6rem;
    height: 6rem;
    color: #e90736;
}

.beneficios-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.beneficios-apresentacao h3 {
    font-size: 3rem;
    font-weight: 600;
}

.beneficios-apresentacao p {
    font-size: 1.6rem;
    text-align: center;
}


.beneficios-beneficios h4 {
    font-size: 2rem;
    color: #e90736;
    margin-bottom: .5rem;
    margin-left: .7rem;
}

.beneficios-beneficios li {
    font-size: 1.4rem;
    list-style: none;
    margin-left: .7rem;
}

.beneficios-beneficios i {
    color: #e90736;
}

.beneficios-beneficios p {
    font-size: 1.4rem;
}

.beneficios-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.beneficios-btn {
    margin-top: 1rem;
    display: inline-block; /* Alterado de "inline" para "inline-block" */
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #e90736 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    width: 15rem; /* Defina a largura desejada para os botões */
}

.beneficios-btn:hover {
    transform: scale(1.1); /*Animação no botão*/
}

.beneficios-radape {
    font-size: 1.4rem;
    text-align: center;
}



























/*Rodapé*/
.footer {
    margin-top: 8rem;
    background: #1f1e1f;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 1rem;
}

.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: #fff;
    padding: 1rem 3rem;
}

.footer .box-container .box .links:hover {
    color: #fff;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 3rem;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: #fff;
}

.footer .box-container .box .share {
    padding: 1rem 3rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background:#fff;
}

.footer .box-container .box form {
    margin-left: 2rem;
}

.footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: #111;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
}

/*Rodapé*/


/*fim do teste */
/*Responsividade*/
@media (max-width: 991px) {
    html {
        font-size: 55%;
        scroll-padding: 7rem;
    }
    .header {
        padding: 0 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .slide {
        padding: 2rem 5%;
    }

    .home .slide .content {
        width: 50rem;
    }

    .home .slide .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {

    .home .slide {
        min-height: 90vh;
        background-size: contain !important;
        background-position: center !important;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
    }

    .home {
        background: #e90736;
    }

    .responsivo {
        display: block;
    }

    .home .slide .content span {
        font-size: 5rem;
        color: red;
        display: block;
    }
    .home .slide .content h3 {
        font-size: 4rem;
        color: black;
        padding: 1rem 0;
    }

    .desktop {
        display: none;
    }

    .home-slider .slide {
        max-width: 100%;
        height: auto;
    }

    .links-menu {
        display: block;
    }
      

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0px 40px;
    }

    .menu .navbar {
        display: none;
    }

    .one, .two, .three {
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 1rem auto;
        transition-duration: 0.5s
    }

    .menu-toggle {
        
        margin: 16px 0;
        width: 30px;
        height: 30px;
    }

    .menu.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #1f1e1f;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }   

    .menu.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .menu.on .navbar {
        display: block;
        
    }
    
    .menu .navbar a {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 4rem;
        display: block;
        padding: 2rem 0;
    }

    .menu.on .menu-toggle .two {
        opacity: 0;
    }

    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(6px, -2px);
    }

    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px, -12px);
    }

    .home .slide {
        padding: 2rem 5%;
    }

    .home .slide .content {
        width: 50rem;
    }

    .home .slide .content h3 {
        font-size: 4rem;
    }
}

    .links-menu a {
        color: white; /* ou qualquer outra cor desejada */
        text-decoration: none; /* para remover o sublinhado padrão */
      }
      


    #menu-btn {
        display: inline-block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header {
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #000;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
    }

    .about {
        gap: 3rem;
    }

    .about .image {
        margin-top: 5rem;
    }

    .about .content .title {
        font-size: 3rem;
    }

    .features .box-container .box.second {
        flex-flow: column;
    }

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
        scroll-padding: 7rem;
    }
    .header {
        padding: 0 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .slide {
        padding: 2rem 5%;
    }

    .home .slide .content {
        width: 50rem;
    }

    .home .slide .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header {
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #000;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
    }

    .about {
        gap: 3rem;
    }

    .about .image {
        margin-top: 5rem;
    }

    .about .content .title {
        font-size: 3rem;
    }

    .features .box-container .box.second {
        flex-flow: column;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 1300px) {
    .home .slide {
        min-height: 90vh;
        background-size: contain !important;
        background-position: center !important;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
    }

    .home {
        background: #e90736;
    }
}

