/*Stand benefícios*/

.beneficios-titulo{
    background: #1f1e1f;
    color: red;
    font-size: 3rem;
    max-width: 150rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10rem 0 2rem 0;
}

.beneficios-menu h3 {
    color: #000;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.beneficios-stands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.beneficios-containers {
    width: 34rem;
    height: 55rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    border: 2px solid #e90736;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 2rem;
}

.beneficios-imagem {
    width: 6rem;
    height: 6rem;
    color: #e90736;
}

.beneficios-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.beneficios-apresentacao h3 {
    font-size: 3rem;
    font-weight: 600;
}

.beneficios-apresentacao p {
    font-size: 1.6rem;
    text-align: center;
}


.beneficios-beneficios h4 {
    font-size: 2rem;
    color: #e90736;
    margin-bottom: .5rem;
    margin-left: .7rem;
}

.beneficios-beneficios li {
    font-size: 1.4rem;
    list-style: none;
    margin-left: .7rem;
}

.beneficios-beneficios i {
    color: #e90736;
}

.beneficios-beneficios p {
    font-size: 1.4rem;
}

.beneficios-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.beneficios-btn {
    margin-top: 1rem;
    display: inline-block; /* Alterado de "inline" para "inline-block" */
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #e90736 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    width: 15rem; /* Defina a largura desejada para os botões */
}

.beneficios-btn:hover {
    transform: scale(1.1); /*Animação no botão*/
}

.beneficios-radape {
    font-size: 1.4rem;
    text-align: center;
}

@media (max-width: 768px) {
    
    .beneficios-stands {
        gap: 5rem;
    }

    .beneficios-titulo {
        margin: 0rem 0 2rem 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .beneficios-titulo {
        margin: 0rem 0 2rem 0;
    }
}