.resultado__pesquisa {
    padding: 1rem 9%;
    display: none;
}

.produtos-pesquisar {
    list-style-type: none;
    color: black;
}

.produtos-pesquisar li a {
    color: black;
    font-size: 2.5rem;
}

.produtos-pesquisar li a:hover {
    color: brown;
}

@media screen and (min-width: 268px) and (max-width: 768px) {
    .busca {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}