.descricao-produtos {
    padding: 0rem 5rem;
}

.descricao-produtos__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin: 5rem 0 2rem 0;
}

.descricao-produtos__imagens {
    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 2rem;
    width: 40vw;
    padding: 2rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.descricao-produtos__imagem-principal {
    background: #C0C0C0;
    width: 80%;
    height: 40rem;
    margin: 0 auto;
}

.descricao-produtos__imagem-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.descricao-produtos__imagem-principal:hover {
    transform: scale(1.4);
}

.descricao-produtos__imagens-selecionaveis {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.descricao-produtos__imagem-selecionavel {
    width: 30%;
    height: 15rem;
}

.descricao-produtos__imagem-selecionavel:hover {
    cursor: pointer;
    border: 3px solid #e90736;
    border-radius: 5%;
}

.descricao-produtos__imagem-selecionavel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.descricao-dos-produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    padding: 2rem;
    width: 40vw;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

.descricao-dos-produtos h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #e90736;
    text-align: center;
}

.descricao-dos-produtos p {
    font-size: 1.8rem;
}

.descricao-dos-produtos h3 {
    font-size: 2.5;
    font-weight: 600;
    color: #000;
    padding-top: 2rem;
}

.descricao-btn {
    display: flex;
    justify-content: center;
}

#cunhaSlim, #cunhaNiveladora, #espacadorSlimPadrao, #espadorSlimPremium, #espacadorSmartPadrao,
#espacadorSmartPremium, #desempenadeiraLisa, #desempenadeiraCorrigada, #desempenadeiraEspuma,
#raloOculto, #raloOcultoCores, #plafon {
    display: block;
}

@media screen and (min-width: 268px) and (max-width: 768px) {
    .descricao-produtos__container {
        display: flex;
        flex-direction: column;
    }

    .descricao-produtos__imagens {
        width: 80vw;
    }

    .descricao-dos-produtos {
        width: 80vw;
        margin-bottom: 2rem;
    }
}


