.story {
    border: 1px solid black;
    background: white;
    margin: 8rem 8rem 0 8rem;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.story-iamgem {
    border: 1px solid black;
    width: 30vw;
    height: 50vh;
}

.story-descricao {
    width: 60vw;
    height: auto;
    border: 1px solid black;
    padding: 3rem;
}

.story-descricao h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.story-descricao h3 {
    padding: 1rem 0 1rem 0;
}

.story {
    display: none;
}


