.story {
    background: white;
    margin: 8rem 8rem 0 8rem;
    padding: 0;
}

.story-campo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.story-iamgem {
    width: 30vw;
    height: 50vh;
}

.story-iamgem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.story-descricao {
    width: 50vw;
    height: auto;
    padding: 3rem;
}

.story-descricao h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.story-descricao h2 {
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
}

.story {
    display: none;
}


@media (max-width: 768px) {
    .story-campo {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .story-descricao {
        width: 95vw;
        height: auto;
    }

    .story-iamgem {
        width: 80vw;
        height: 50vh;
    }
}

